.status_bar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: auto;
    height: 2.0625rem;
    background-color: var(--card_consult-color);
    padding: 0 0.625rem;
  }
  
  .status_bar-time {
    justify-self: start;
    font-size: 0.875em;
    display: inline-block;
  }
  
  .status_bar-icons {
    display: flex;
    gap: 1em;
  }

  .status_bar-icons img {
    width: 1em;
    height: 1em;
}
  